/* Home.css */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container img {
    height: 500px;
}

.apresentacao {
    max-width: 500px;
    text-align: center;
}

.apresentacao p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.apresentacao span {
    color: #ff6600;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    margin-right: 10px; 
}

.btn:hover {
    background-color: #e65000;
}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .container img {
        width: 100%; 
        height: auto; 
    }

    .apresentacao {
        max-width: 90%; 
        margin-top: 20px; 
    }

    .btn {
        margin-right: 0; 
        margin-top: 20px; 
    }

    .btn,
    .apresentacao p {
        font-size: 1.4rem; 
    }
}
/*Estilos para dispositivos móveis */
@media screen and (max-width: 480px) {
    .container img {
        height: 300px; 
    }

    .apresentacao p {
        font-size: 1.2rem; 
    }
}
